<h1><%= @country.name %> </h1>

<div class="container">
    <% for city in @cities_in_country %>
    <div class="city">
    <a href="/visited/<%=@country.id%>/<%=city.id%>">
        <p><%= city.name %></p>
      </a>
    </div>
    <% end %>
</div>


<form class="ask-cities" method="post">
<label for="city-1">Add City:</label>
<input type="text" name="name" id ='city'>
<label for="visited">Is it Visited or To visit?</label><br>
<input type="radio" id= "visited" name="visited" value="true"> Visited <br>
<input type="radio" id= "visited" name="visited" value="false"> To visit <br>
<input type="submit" value="submit">
</form>

<div class="description">
  <p>Surface: <%= @country.whole_world_info['surfacearea'] %> km2</p>
  <p>Population: <%= @country.whole_world_info['population'] %> people</p>
  <p>Year of Independence: <%= @country.whole_world_info['indepyear'] %></p>

</div>

<form action="<%=@country.id%>/edit" method="post">
    <input type="hidden" name="name" value="<%=@country.name%>">

    <input type="submit" value="Edit country"/>
</form>

<form class action="<%=@country.id%>/delete" method="get">
  <button type="button" name="button">Delete country</button>
</form>



<div class="iframe">
  <p style= 'text-align: center'>
  <iframe width="100%" height="500" src="https://maps.google.com/maps?q=<%=@country.name%>&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</p>
</div>
