<h1><%= @country.name %> </h1>


<div class="container">
    <% for city in @cities_in_country %>
    <a class= "box-1" href="/to-visit/<%=@country.id%>/<%=city.id%>">
      <div class="city">
        <p><%= city.name %></p>
      </div>
      </a>
    <% end %>
</div>


<form class="ask-cities" method="post">
<label for="city-1">Add City:</label>
<input type="text" name="name" id ='city'>
<input type="hidden" name="visited" value=false>
<input type="submit" value="submit">
</form>

<div class="description">
  <p>Surface: <%= @country.whole_world_info['surfacearea'] %> km2</p>
  <p>Population: <%= @country.whole_world_info['population'] %> people</p>
  <p>Year of Independence: <%= @country.whole_world_info['indepyear'] %></p>

</div>

<form action="<%=@country.id%>/edit" method="post">
    <input type="hidden" name="name" value="<%=@country.name%>">
    <input type="submit" value="Edit country"
       />
</form>

<form class action="<%=@country.id%>/delete" method="get">
  <input type="submit" value="Delete country">
</form>

<div class="iframe">
  <p style= 'text-align: center'>
  <iframe width="100%" height="500" src="https://maps.google.com/maps?q=<%=@country.name%>&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</p>
</div>
